@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-950: hsl(216 12% 8%);
    --c-grey-900: hsl(213 19% 18%);
    --c-grey-500: hsl(217 12% 63%);
    --c-orange: hsl(25 97% 53%);
    --c-gradient-1: hsl(215 20% 17%);
    --c-gradient-2: hsl(216 24% 12%);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body {
  
}











input {
  position: absolute;
  opacity: 0;
}