@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-950: hsl(216 12% 8%);
    --c-grey-900: hsl(213 19% 18%);
    --c-grey-500: hsl(217 12% 63%);
    --c-orange: hsl(25 97% 53%);
    --c-gradient-1: hsl(215 20% 17%);
    --c-gradient-2: hsl(216 24% 12%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-1300: 6.5rem;
    --spacing-1700: 8.5rem;
  }
}

/* font weights
  regular: 400
  semibold: 600
  bold: 700
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Main styling */
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--c-black);
  padding-inline: var(--spacing-300);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(180deg, var(--c-gradient-1) 0%, var(--c-gradient-2) 100%);
  padding: clamp(1.5rem, calc(2.0356vw + 1.0229rem), 2rem);
}

.content-img {
  width: clamp(2.5rem, calc(2.023rem + 2.036vw), 3rem);
  height: clamp(2.5rem, calc(2.023rem + 2.036vw), 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: clamp(1.5rem, calc(2.0356vw + 1.0229rem), 2rem);
  background-color: var(--c-grey-900);
  border-radius: 50%;
}

.content-container h1 {
  margin-block-end: 1rem;
  color: var(--c-white);
  font-size: clamp(1.50rem, calc(1.261rem + 1.018vw), 1.75rem);
  line-height: 1.25;
}

.content-container p {
  color: var(--c-grey-500);
}







input {
  position: absolute;
  opacity: 0;
}