@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-950: hsl(216 12% 8%);
    --c-grey-900: hsl(213 19% 18%);
    --c-grey-500: hsl(217 12% 63%);
    --c-orange: hsl(25 97% 53%);
    --c-gradient-1: hsl(215 20% 17%);
    --c-gradient-2: hsl(216 24% 12%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-1300: 6.5rem;
    --spacing-1700: 8.5rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Main styling */
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--c-black);
  padding-inline: var(--spacing-300);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 25.75rem;
  background: linear-gradient(180deg, var(--c-gradient-1) 0%, var(--c-gradient-2) 100%);
  padding-block: clamp(1.5rem, calc(2.0356vw + 1.0229rem), 2rem);
  padding-inline: 1.5rem;
  border-radius: 0.9375rem;
}

.content-img {
  width: clamp(2.5rem, calc(2.023rem + 2.036vw), 3rem);
  height: clamp(2.5rem, calc(2.023rem + 2.036vw), 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: clamp(1.5rem, calc(2.0356vw + 1.0229rem), 2rem);
  background-color: var(--c-grey-900);
  border-radius: 50%;
}

.content-container h1 {
  margin-block-end: 1rem;
  color: var(--c-white);
  font-size: clamp(1.50rem, calc(1.261rem + 1.018vw), 1.75rem);
  font-weight: 700;
  line-height: 1.25;
}

.content-container p:first-of-type {
  margin-block-end: 1rem;
  color: var(--c-grey-500);
  font-size: clamp(0.875rem, calc(0.815rem + 0.254vw), 0.9375rem);
  font-weight: 400;
  line-height: 1.6;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-block-end: clamp(1.5rem, calc(2.0356vw + 1.0229rem), 2rem);
}

.form-group label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(2.625rem, calc(2.088rem + 2.29vw), 3.188rem);
  height: clamp(2.625rem, calc(2.088rem + 2.29vw), 3.188rem);
  color: var(--c-grey-500);
  background-color: var(--c-grey-900);
  border-radius: 50%;
  transition: background-color 250ms ease, color 250ms ease;
}

.form-group label,
.form-group * {
  cursor: pointer;
}

.form-group label:has(input:focus-visible) {
  outline: 1px solid var(--c-white);
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-1300);
  background-color: var(--c-orange);
  color: var(--c-grey-950);
  border: none;
  border-radius: 1.40625rem;
  /* outline: 1px solid var(--c-orange); */
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 1.87px;
  cursor: pointer;
  transition: transform 250ms ease;
}

/* Hover & active states */
.form-group label:hover,
.submit-btn:hover {
  background-color: var(--c-white);
}

.form-group label:has(input:checked) {
  color: var(--c-grey-900);
  background-color: var(--c-orange);
}

.submit-btn:active {
  transform: scale(0.95);
}

/* Error message */
.error-msg {
  margin-block-start: 1rem;
  margin-block-end: 0;
  text-align: center;
  color: var(--c-orange);
}

/* Thanks container */
.thanks-container {
  text-align: center;
  padding-block: var(--spacing-100);
  padding-inline: var(--spacing-100);
}
.thanks-img {
  margin-inline: auto;
  margin-block-end: var(--spacing-300);
}

.selected-rating-text {
  max-width: fit-content;
  margin-inline: auto;
  margin-block-end: var(--spacing-300);
  padding-block: var(--spacing-100);
  padding-inline: var(--spacing-200);
  color: var(--c-orange);
  background-color: var(--c-grey-900);
  font-size: clamp(.875rem, calc(.2545vw + .8154rem), .9375rem);
  border-radius: 1.40625rem;
}

.thanks-container h2 {
  color: var(--c-white);
  margin-block-end: var(--spacing-200);
  font-size: clamp(1.5rem, calc(1.0178vw + 1.2615rem), 1.75rem);
  line-height: clamp(1.875rem, calc(1.2723vw + 1.5768rem), 2.1875rem);
  font-weight: 700;
}

.thanks-text {
  color: var(--c-grey-500);
  font-size: clamp(0.875rem, calc(0.815rem + 0.254vw), 0.9375rem);
  line-height: clamp(1.375rem, calc(.5089vw + 1.2557rem), 1.5rem);
  max-width: 35ch;
}

.visually-hidden {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .submit-btn,
  .form-group label {
    transition: none;
  }
}